.vscode
*.sublime-project
*.sublime-workspace

*.exe
*.html

tests/tmodifytable
tests/tmigratefromtypes
tests/tobjutils
tests/tpostgres
tests/tpostgresfromtypes
tests/tpostgresrowutils
tests/tsqlite
tests/tsqlitefromtype
stests/tsqliterowutils
