.vscode
*.sublime-project
*.sublime-workspace

*.exe
*.html
*.idx
htmldocs

tests/tmodel

tests/tsqliterowutils
tests/tsqlitetables
tests/tsqliterows
tests/tsqlitetransactions
tests/tsqlitesugar
tests/tsqlitenone
tests/tsqliteenv

tests/tpostgresrowutils
tests/tpostgrestables
tests/tpostgresrows
tests/tpostgrestransactions
tests/tpostgressugar
tests/tpostgresnone
tests/tpostgresenv
