.vscode
*.sublime-project
*.sublime-workspace

*.exe
*.html
*.idx

site

tests/tobjutils
tests/tpostgres
tests/tpostgresfromtypes
tests/tpostgresmigrate
tests/tpostgresrowutils
tests/tsqlite
tests/tsqlitefromtypes
tests/tsqlitemigrate
tests/tsqliterowutils
